<div class="page-header">
  <h3>Comment #<%= @comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Decision</dt>
      <dd>
        <% if @comment.decision.present? %>
          <a href="/decisions/<%= @comment.decision_id %>">
            <%= @comment.decision.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>Message</dt>
      <dd><%= @comment.message %></dd>

      <dt>User</dt>
      <dd>
        <% if @comment.user.present? %>
          <a href="/users/<%= @comment.user_id %>">
            <%= @comment.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/comments" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @comment.user %>
        <a href="/comments/<%= @comment.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_comment/<%= @comment.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
