<!-- Validation failure messages -->
<% if @decision.errors.any? %>
<% @decision.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
<h2><%= @decision.name %></h2>
<h4><em><%= @decision.description %></em></h4>
<span class="text-muted"> Posted by
  <% if @decision.primary_stakeholder.present? %>
  <a href="/users/<%= @decision.user_id %>">
    <%= @decision.primary_stakeholder.first_name %></a> <%= time_ago_in_words(@decision.created_at)%> ago<% end %></span>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <h3>STEP 1: Add Options</h3>
    <em>List options you are choosing between. You should enter at least 2 options.</em>
    <p></p>
    <% @decision.options.each do |option| %>
    <ul>
      <li class="list-unstyled"><%= option.name %>           <a href="/delete_option/<%= option.id %>" rel="nofollow">
        <small><i class="fa fa-ban" aria-hidden="true"></i></small>
      </a></li>
    </ul>
    <% end %>
    <li class="list-unstyled">
      <form action="/create_option" method="post">
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <div class="form-group">
          <input type="text" id="name" name="name" placeholder="Add an option..." class="form-control" value="">
          <input type="hidden" name="decision_id" value="<%= @decision.id %>">
        </div>

        <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">


        <button class="btn btn-primary">
          Add Option
        </button>
      </form>
    </li>
  </div>

  <div class="col-md-4 col-md-offset-1">
    <h3>STEP 2: Add Criteria</h3>
    <em>Enter each criteria you wish to evaluate and select its level of importance.</em>
    <p></p>

    <% @decision.criterium.each do |criteria| %>
    <ul>
      <li class="list-unstyled">
        <%= criteria.name %> (<%= criteria.weight %>)
        <a href="/delete_criterium/<%= criteria.id %>" rel="nofollow">
          <small><i class="fa fa-ban" aria-hidden="true"></i></small>
        </a>
      </li>
    </ul>
    <% end %>

    <form action="/create_criterium" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <div class="form-group">
        <input type="text" id="name" name="name" placeholder="Add criteria..." class="form-control" value="">
      </div>

      <div class="form-group">
        <select id="weight" name="weight" class="form-control" value="">
          <option value="1">1 (least important)</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5 (most important)</option>
        </select>
      </div>

      <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

      <input type="hidden" name="decision_id" value="<%= @decision.id %>">

      <button class="btn btn-primary">
        Add Criteria
      </button>

    </form>

  </div>
</div>


    <footer class="row pb-2">
      <div class="col-md-10 col-md-offset-1">
        <hr>
        <a href="/decisions/<%= @decision.id %>">
        <button class="btn btn-warning">Go to Decision Matrix</button>
        </a>
        </hr>
      </div>
</footer>
