<div class="page-header">
  <h1>
    Decisions
    <a href="/decisions/new" class="btn btn-lg btn-success">New Decision</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "decisions_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :description_cont, "Description contains" %>
    <%= f.text_field :description_cont, :class => "form-control", :placeholder => "Description contains" %>
  </div>

<div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :primary_stakeholder_email_cont, "User email contains" %>
      <%= f.text_field :primary_stakeholder_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

<div class="form-group">
      <%= f.label :options_name_cont, "Option name contains" %>
      <%= f.text_field :options_name_cont, :class => "form-control", :placeholder => "Option name contains" %>
    </div>

<div class="form-group">
          <%= f.label :created_at, "Response Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='responsesgteqcreated_atPicker'>
                  <%= f.text_field :responses_created_at_gteq, :class => "form-control", :placeholder => "Response Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='responseslteqcreated_atPicker'>
                  <%= f.text_field :responses_created_at_lteq, :class => "form-control", :placeholder => "Response Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#responsesgteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#responseslteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#responsesgteqcreated_atPicker').on("dp.change", function (e) {
                  $('#responseslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#responseslteqcreated_atPicker').on("dp.change", function (e) {
                  $('#responsesgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/decisions" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#decisions_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>

      <% @decisions.each do |decision| %>
      <tr>
        <td>
          <% if decision.primary_stakeholder.present? %>
            <a href="/users/<%= decision.primary_stakeholder.id %>">
              <%= decision.primary_stakeholder.email %>
            </a>
          <% end %>
        </td>
        <td><%= decision.name %></td>
        <td><%= decision.description %></td>
        <td>
          <a href="/decisions/<%= decision.id %>" class="btn btn-primary">Show</a>
          <a href="/decisions/<%= decision.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_decision/<%= decision.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @decisions, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
