<div class="page-header">
  <h3>Decision #<%= @decision.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @decision.user_id %></dd>

      <dt>Name</dt>
      <dd><%= @decision.name %></dd>

      <dt>Description</dt>
      <dd><%= @decision.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/decisions" class="btn btn-primary">
        Back
      </a>
      <a href="/decisions/<%= @decision.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_decision/<%= @decision.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Decision has many criteria -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Criteria
      </li>

      <% @decision.criteria.each do |criterium| %>
        <li class="list-group-item">
          <a href="/criteria/<%= criterium.id %>">
            <%= criterium.decision_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/criteria/<%= criterium.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/criteria/<%= criterium.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_criterium/<%= criterium.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Decision has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @decision.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.decision_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Decision has many options -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Options
      </li>

      <% @decision.options.each do |option| %>
        <li class="list-group-item">
          <a href="/options/<%= option.id %>">
            <%= option.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/options/<%= option.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/options/<%= option.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_option/<%= option.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
