<div class="page-header">
  <h3><img alt="Zora Senat" class="img-circle avatar" height="60" src="<%= @user.image_url %>" title="Zora Senat" width="60">  <%= @user.first_name %> <%= @user.last_name[0] %>.</h3>
</div>

<!-- A User has many decisions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Decisions
      </li>

      <% @user.decisions.each do |decision| %>
        <li class="list-group-item">
          <a href="/decisions/<%= decision.id %>">
            <%= decision.name %>
          </a>
          <em><span class="text-muted"> created <%= time_ago_in_words(decision.created_at)%> ago</span></em>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/decisions/<%= decision.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == decision.primary_stakeholder %>
              <a href="/decisions/<%= decision.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_decision/<%= decision.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-md-12 mb-2">

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>
