<!-- Validation failure messages -->
<% if @option.errors.any? %>
  <% @option.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Option</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_option" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @option.name %>">
      </div>

      <!-- Label and input for descriptions -->
      <div class="form-group">
        <label for="descriptions" class="control-label">
          Descriptions
        </label>

        <textarea id="descriptions" name="descriptions" placeholder="Descriptions" class="form-control" rows="3"><%= @option.descriptions %></textarea>
      </div>

      <!-- Label and input for decision_id -->
      <div class="form-group">
        <label for="decision_id" class="control-label">
          Decision
        </label>

        <%= select_tag(:decision_id, options_from_collection_for_select(Decision.all, :id, :user_id, @option.decision_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Option
      </button>
      or
      <a href="/options">Cancel</a>
    </form>
  </div>
</div>
