<div class="page-header">
  <h3>Option #<%= @option.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @option.name %></dd>

      <dt>Descriptions</dt>
      <dd><%= @option.descriptions %></dd>

      <dt>Decision</dt>
      <dd>
        <% if @option.decision.present? %>
          <a href="/decisions/<%= @option.decision_id %>">
            <%= @option.decision.user_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/options" class="btn btn-primary">
        Back
      </a>
      <a href="/options/<%= @option.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_option/<%= @option.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Option has many responses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Responses
      </li>

      <% @option.responses.each do |response| %>
        <li class="list-group-item">
          <a href="/responses/<%= response.id %>">
            <%= response.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/responses/<%= response.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/responses/<%= response.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_response/<%= response.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_response" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for vote -->
      <div class="form-group">
        <label for="vote" class="control-label">
          Vote
        </label>

        <input type="text" id="vote" name="vote" placeholder="Vote" class="form-control" value="">
      </div>

      <!-- Label and input for criteria_id -->
      <div class="form-group">
        <label for="criteria_id" class="control-label">
          Criteria
        </label>

        <%= select_tag(:criteria_id, options_from_collection_for_select(Criterium.all, :id, :decision_id), :class => "form-control") %>
      </div>

      <!-- Label and input for option_id -->
      <input type="hidden" name="option_id" value="<%= @option.id %>">

      <button class="btn btn-block btn-success">
        Create Response
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
