<div class="page-header">
  <h3>Option #<%= @option.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @option.name %></dd>

      <dt>Descriptions</dt>
      <dd><%= @option.descriptions %></dd>

      <dt>Decision</dt>
      <dd><%= @option.decision_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/options" class="btn btn-primary">
        Back
      </a>
      <a href="/options/<%= @option.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_option/<%= @option.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Option has many responses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Responses
      </li>

      <% @option.responses.each do |response| %>
        <li class="list-group-item">
          <a href="/responses/<%= response.id %>">
            <%= response.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/responses/<%= response.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/responses/<%= response.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_response/<%= response.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
