<!-- Validation failure messages -->
<% if @response.errors.any? %>
  <% @response.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Response #<%= @response.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_response/<%= @response.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @response.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for vote -->
      <div class="form-group">
        <label for="vote" class="control-label">
          Vote
        </label>

        <input type="text" id="vote" name="vote" placeholder="Vote" class="form-control" value="<%= @response.vote %>">
      </div>

      <!-- Label and input for criteria_id -->
      <div class="form-group">
        <label for="criteria_id" class="control-label">
          Criteria
        </label>

        <%= select_tag(:criteria_id, options_from_collection_for_select(Criterium.all, :id, :decision_id, @response.criteria_id), :class => "form-control") %>
      </div>

      <!-- Label and input for option_id -->
      <div class="form-group">
        <label for="option_id" class="control-label">
          Option
        </label>

        <%= select_tag(:option_id, options_from_collection_for_select(Option.all, :id, :name, @response.option_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Response
      </button>
      or
      <a href="/responses/<%= @response.id %>">Cancel</a>
    </form>
  </div>
</div>
