<div class="page-header">
  <h3>Response #<%= @response.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @response.user.present? %>
          <a href="/users/<%= @response.user_id %>">
            <%= @response.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Vote</dt>
      <dd><%= @response.vote %></dd>

      <dt>Criteria</dt>
      <dd>
        <% if @response.criteria.present? %>
          <a href="/criteria/<%= @response.criteria_id %>">
            <%= @response.criteria.decision_id %>
          </a>
        <% end %>
      </dd>

      <dt>Option</dt>
      <dd>
        <% if @response.option.present? %>
          <a href="/options/<%= @response.option_id %>">
            <%= @response.option.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/responses" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @response.user %>
        <a href="/responses/<%= @response.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_response/<%= @response.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
