<!-- Validation failure messages -->
<% if @company.errors.any? %>
  <% @company.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Company #<%= @company.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_company/<%= @company.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for company_name -->
      <div class="form-group">
        <label for="company_name" class="control-label">
          Company name
        </label>

        <input type="text" id="company_name" name="company_name" placeholder="Company name" class="form-control" value="<%= @company.company_name %>">
      </div>

      <!-- Label and input for company_url -->
      <div class="form-group">
        <label for="company_url" class="control-label">
          Company url
        </label>

        <input type="text" id="company_url" name="company_url" placeholder="Company url" class="form-control" value="<%= @company.company_url %>">
      </div>

      <!-- Label and input for industry -->
      <div class="form-group">
        <label for="industry" class="control-label">
          Industry
        </label>

        <input type="text" id="industry" name="industry" placeholder="Industry" class="form-control" value="<%= @company.industry %>">
      </div>

      <button class="btn btn-warning">
        Update Company
      </button>
      or
      <a href="/companies/<%= @company.id %>">Cancel</a>
    </form>
  </div>
</div>
